@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 140px;
  --mark-size: calc(var(--cell-size) * 0.9);
}
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  /* background-image: url(./backgroundLarge.jpeg); */
  background-image: url(./Tic-Tac-ToeBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fill {
  background-color: rgb(0, 255, 76);
  border-radius: 5px;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.white {
  background-color: #fff;
  opacity: 0.5;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.board {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.board :first-child,
.board :nth-child(2),
.board :nth-child(3) {
  border-top: none;
}

.board :nth-child(3n + 1) {
  border-left: none;
}
.board :nth-child(7),
.board :nth-child(8),
.board :nth-child(9) {
  border-bottom: none;
}
.board :nth-child(3n + 3) {
  border-right: none;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
/* .cell.circle::before, */
/* .cell.circle::after, */
.cell.x::before,
.cell.x::after {
  background-color: black;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  /* background-color: rgb(122, 122, 236); */
  background-color: black;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  /* .board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after { */
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 15px solid black;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size));
  height: calc(var(--mark-size));
}

.winningMessage {
  transition: ease-in-out 350ms;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.65);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}
.winningMessage button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.winningMessage button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
/* .winningMessage.show {
  display: flex;
} */

/*******   SELECT PLAYERS AND GAME   *****************/
.choosePlayersAndGame {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.65);
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  overflow: auto;
  /* font-size: 5rem; */
}
/*******   PRE GAME QUESTION POPUP *****************/
.whosTurn {
  color: rgb(0, 0, 0);
  font-size: 2em;
  background-color: rgb(0, 140, 255);
  padding: 10px;
  border-radius: 5px;
}
.questionPopUp {
  transition: ease-in 350ms;
  /* display: none; */
  opacity: 0;

  height: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.65);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.opacityOne {
  opacity: 1;
}
.questionText {
  margin: 25px;
}
/* .answerDropDown */
.tryAgain {
  font-size: 2rem;
  margin-top: 20px;
  color: rgb(255, 73, 73);
}
.correct {
  transition: ease-in-out 350ms;
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.65);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: turquoise;
}
.show {
  transition: ease-in 350ms;
  height: auto;
  display: flex;
}
.customSelect select {
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(201, 226, 255, 0.541);
  /* box-shadow: 60px -16px teal; */
}
#numberInput {
  font-size: 2rem;
  width: 4rem;
  border-radius: 9px;
  border: none;
  box-shadow: 0px 5px 22px rgb(189, 189, 189);
}

.questionPopUp button {
  display: flex;
  text-align: center;
  margin-top: 20px;
  padding: 25px;
  border-radius: 50px;
  color: #000;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.questionPopUp button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
/***********  "COMPUTER THINKING" SINGLE PLAYER  ********************/
.thinking {
  transition: 1s ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02087259;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(223, 126, 91);
  font-size: 2rem;
}
.thinking.show {
  display: flex;
  z-index: 100;
}
/***********  SELECT PLAYERS AND GAME  ********************/
.directions {
  /* margin: 8%;
  margin-bottom: 10px; */
  /* position: absolute; */
  margin-top: 80px;
  margin-left: 145px;
  margin-right: 145px;
  /* margin: 20px; */
  line-height: 1.9rem;
  font-size: 1.4rem;
  padding: 45px;
  border-radius: 5px;
  color: #333;
  background-color: turquoise;
  box-shadow: 1px 5px 10px rgba(42, 153, 142, 0.795);
}

.choosePlayersAndGame button {
  display: inline-flex;
  text-align: center;
  margin-top: 20px;
  /* margin: 80px; */
  /* margin-bottom: 40px; */

  padding: 10px 25px;
  border-radius: 50px;
  color: #000;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.choosePlayersAndGame button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@media only screen and (max-width: 650px) {
  .directions {
    /* position: relative; */
    margin: 20px;

    padding: 5px;
  }
  .choosePlayersAndGame button {
    font-size: 1.3rem;
    padding: 30px;
    line-height: 0rem;
  }
  .questionText {
    margin: 15px;
  }
}
